<%- include('partials/header') %>

<div class="form-container login-main">
    <div class="form main-form">
        <% if(locals.error) { %>
            <div class="alert alert-danger"><%= error %></div>
        <% } %>
        <% if(locals.success) { %>
            <div class="alert alert-success"><%= success %></div>
        <% } %>
        <form method="post">
            <div class="form-group label-floating">
                <label for="i5" class="control-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" value="<%= locals.username || '' %>" >
            </div>
            <div class="form-group label-floating">
                <label for="i5" class="control-label">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            
            <button type="submit" class="btn btn-primary">Login</button>
            <p class="message">Not registered? <a href="/register"> Create an account </a></p>
            <!--<p class="message">Forget Password <a href="/register"> </a></p>-->
        </form>
    </div>
</div>
<%- include('partials/footer') %>