<%- include('partials/header') %>
<div class="form-container register-main">
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <div class="form main-form">
        <form method="post" class="login-form">
            <input type="text" name="firstName" id="firstName" class="form-control-static" placeholder="Firstname" value="<%= locals.firstName || '' %>" required />
            <input type="text" name="lastName" id="lastName" class="form-control-static" placeholder="Lastname" value="<%= locals.lastName || '' %>" required />
            <input type="text" name="username" id="username" class="form-control-static" placeholder="Username" value="<%= locals.username || '' %>" required />
            <input type="password" name="password" id="password" class="form-control-static" placeholder="Password" required />
            <button type="submit" class="">Register</button>
            <p class="message"> Please Login <a href="/login"> here </a> </p>
        </form>
    </div>
</div>
<%- include('partials/footer') %>